<footer class="w-full flex flex-col">

  <!-- Categorias/Serviços/Entrar Em Contato -->
  <div class="w-full flex h-[200px] justify-center items-center space-x-3">
    <div class="w-[200px] flex flex-col space-y-1">
      <h1 class="font-medium text-sm mb-2">Categorias</h1>
      <a class="font-normal text-xs" href="#">Categoria A</a>
      <a class="font-normal text-xs" href="#">Categoria B</a>
      <a class="font-normal text-xs" href="#">Categoria C</a>
    </div>
    <div class="w-[200px] flex flex-col space-y-1">
      <h1 class="font-medium text-sm mb-2">Metodos de Pagamento</h1>
      <a class="font-normal text-xs" href="#">Metodo A</a>
      <a class="font-normal text-xs" href="#">Metodo B</a>
      <a class="font-normal text-xs" href="#">Metodo C</a>
    </div>
    <div class="w-[200px] flex flex-col space-y-1">
      <h1 class="font-medium text-sm mb-2">Contas</h1>
      <a class="font-normal text-xs" href="#">Conta A</a>
      <a class="font-normal text-xs" href="#">Conta B</a>
      <a class="font-normal text-xs" href="/admin">Admin Acess</a>
    </div>
    <div class="w-[200px] flex flex-col space-y-1">
      <h1 class="font-medium text-sm mb-2">Fale Conosco</h1>
      <a class="font-normal text-xs" href="#">Email</a>
      <a class="font-normal text-xs" href="#">Telefone</a>
      <a class="font-normal text-xs" href="#">WhatsApp</a>
    </div>
  </div>

  <!-- Icones/Redes Sociais/Copyright -->
  <div class="w-full h-[100px] flex flex-col justify-center items-center">

    <!-- Icones/Redes Sociais -->
    <div class="w-9/12 flex border-b border-gray-300">
      <img class="" src="../../../assets/icons/facebookIcon.svg" alt="">
      <img class="" src="../../../assets/icons/instagramIcon.svg" alt="">
      <img class="" src="../../../assets/icons/youtubeIcon.svg" alt="">
      <img class="" src="../../../assets/icons/telegramIcon.svg" alt="">
    </div>

    <!-- Copyright -->
    <div class="w-9/12 flex justify-between items-center mt-2">
      <p class="font-normal text-xs">© 2025 TPS Tintas - Todos os direitos reservados.</p>
      <div class="flex space-x-2">
        <a class="font-normal text-xs" href="#">Termos de Uso</a>
        <a class="font-normal text-xs" href="#">Política de Privacidade</a>
      </div>
    </div>
  </div>
</footer>
