<header class="w-full flex flex-col items-center bg-white shadow-md justify-center p-1">

  <!-- Logo Principal -->
  <div class="flex items-center justify-center text-xl font-bold space-x-2">
    <h1 class="cursor-pointer hover:text-2xl transition-all duration-500" (click)="goToHome()">TPS(LOGO)</h1>
    <img class="w-10" src="../../../assets/icons/shoppingCart.svg" alt="">
  </div>

  <!-- Links do Cabeçalho -->
  <div class="flex justify-center w-full">
    <div class="flex items-center justify-center gap-4 w-full p-2">
      <a class="hover:text-xl transition-all duration-500" href="/catalog">Coleção</a>
      <a class="hover:text-xl transition-all duration-500" href="">Categoria A</a>
      <a class="hover:text-xl transition-all duration-500" href="">Categoria B</a>
      <a class="hover:text-xl transition-all duration-500" href="">Categoria C</a>
      <a class="hover:text-xl transition-all duration-500" href="">Contato</a>
      <a class="hover:text-xl transition-all duration-500" href="">Vendas</a>
      <div>
        <input type="text" class="border border-gray-300 rounded p-1 font-light text-md" placeholder="Pesquisar produtos...">
      </div>
    </div>
  </div>
</header>
