<app-header></app-header>

<!-- Conteudo Home -->
<section class="w-full flex flex-col items-center justify-center">

  <!-- Primeira Parte da Página -->
  <section class="w-10/12 max-h-screen p-5">
    <!-- Primeiro Banner/Maior -->
    <div class="w-full h-[400px] bg-[#F3E7E9] flex flex-col space-y-2 items-start justify-center p-5 rounded-[16px]">
      <p>Banner</p>
      <h1 class="font-bold text-4xl">BANNER</h1>
      <button class="bg-gray-800 p-1.5 items-center justify-center text-white flex space-x-2 rounded-lg">
        <p class="font-light text-sm">Botão para oferta</p>
        <img class="w-2 h-2" src="../../../assets/icons/buttonHomeBanner.svg" alt="">
      </button>
    </div>
    <!-- 3 Banners Principais -->
    <div class="w-full h-[150px] flex space-x-4 mt-2">
      <div class="w-1/3 bg-[#b7c2d3] h-[150px] rounded-[16px]">
        <div class="p-2">
          <h1 class="font-inter font-bold">Oferta</h1>
          <p>descrição</p>
        </div>
      </div>
      <div class="w-1/3 bg-[#cdbbd1] h-[150px] rounded-[16px]">
        <div class="p-2">
          <h1 class="font-inter font-bold">Oferta</h1>
          <p>descrição</p>
        </div>
      </div>
      <div class="w-1/3 bg-[#bad6d1] h-[150px] rounded-[16px]">
        <div class="p-2">
          <h1 class="font-inter font-bold">Oferta</h1>
          <p>descrição</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Segunda Página - Prévia Catalogo -->
  <section class="w-8/12 p-5 flex flex-col">
    <h1 class="text-center font-bold font-inter text-xl">Catálogo</h1>
    <!-- Subindice produtos -->
    <div class="flex space-x-2 justify-center items-center p-3">
      <a href="#" class="border border-gray-600 hover:bg-gray-400 focus:bg-gray-600 focus:text-white rounded-2xl p-1 transition-colors duration-500">Mais Vendidos</a>
      <a href="#" class="border border-gray-600 hover:bg-gray-400 focus:bg-gray-600 focus:text-white rounded-2xl p-1 transition-colors duration-500">Novos Produtos</a>
      <a href="#" class="border border-gray-600 hover:bg-gray-400 focus:bg-gray-600 focus:text-white rounded-2xl p-1 transition-colors duration-500">Linha A</a>
      <a href="#" class="border border-gray-600 hover:bg-gray-400 focus:bg-gray-600 focus:text-white rounded-2xl p-1 transition-colors duration-500">Linha B</a>
    </div>

    <!-- Produtos -->
      <div class="w-full flex items-center justify-center space-x-3">
      <!-- Primeira Parte de Produtos -->
      <div class="h-[360px]" *ngFor="let item of produtos">
        <div class="w-[200px] bg-[#f5f7fabb] h-[340px] rounded-lg">
          <!-- Desconto e Icone Parte de Cima -->
          <div class="w-full p-1.5">
            <div class="w-full flex justify-between items-center">
              <button class="text-xs bg-[#F03D3D] p-0.5 rounded-md">-{{item.descont}}%</button>
              <img class="w-7 h-7" src="../../../assets/icons/favoriteIconCatalog.svg" alt="">
            </div>
          </div>
          <img class="p-2 rounded-[10px]" [src]="item.image" alt="">
          <div class="flex flex-col space-y-2 p-2">
            <h1>{{item.name}}</h1>
            <div class="flex space-x-3 items-center">
              <p class="font-medium text-sm">R${{(item.price - ((item.price/100) * item.descont)).toFixed(2)}}</p>
              <p class="text-gray-400 text-xs line-through">R${{(item.price).toFixed(2)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Segunda Parte de Produtos -->
    <div class="h-[400px] w-full flex space-x-3 items-center justify-center">
      <!-- Oferta Principal -->
      <div class="">
        <div class="w-[418px] h-[400px] flex flex-col justify-center items-center bg-[#62a9d8] rounded-lg">
          <img class="rounded-lg" [src]="produtos[0].image" alt="">
          <button class="p-1 bg-[#243042] font-light text-white text-sm w-40 rounded-lg">Catálogo</button>
        </div>
      </div>
      <!-- Demais produtos -->
      <div class="flex space-x-3">
          <!-- Produto 1 -->
          <div class="w-[200px] bg-[#f5f7fabb] h-[400px] rounded-lg items-center justify-center">
          <!-- Desconto e Icone Parte de Cima -->
          <div class="w-full p-1.5">
            <div class="w-full flex justify-between items-center">
              <button class="text-xs bg-[#F03D3D] p-0.5 rounded-md">-{{produtos[1].descont}}%</button>
              <img class="w-7 h-7" src="../../../assets/icons/favoriteIconCatalog.svg" alt="">
            </div>
          </div>
          <img class="p-2 rounded-[10px]" [src]="produtos[1].image" alt="">
          <div class="flex flex-col space-y-2 p-2">
            <h1>{{produtos[1].name}}</h1>
            <div class="flex space-x-3 items-center mt-2">
              <p class="font-medium text-sm">R${{(produtos[1].price - ((produtos[1].price/100) * produtos[1].descont)).toFixed(2)}}</p>
              <p class="text-gray-400 text-xs line-through">R${{(produtos[1].price).toFixed(2)}}</p>
            </div>
          </div>

        </div>

          <div class="w-[200px] bg-[#f5f7fabb] h-[400px] rounded-lg items-center justify-center">
          <!-- Desconto e Icone Parte de Cima -->
          <div class="w-full p-1.5">
            <div class="w-full flex justify-between items-center">
              <button class="text-xs bg-[#F03D3D] p-0.5 rounded-md">-{{produtos[1].descont}}%</button>
              <img class="w-7 h-7" src="../../../assets/icons/favoriteIconCatalog.svg" alt="">
            </div>
          </div>
          <img class="p-2 rounded-[10px]" [src]="produtos[1].image" alt="">
          <!--  -->
          <div class="flex flex-col space-y-2 p-2">
            <h1>{{produtos[1].name}}</h1>
            <div class="flex space-x-3 items-center mt-2">
              <p class="font-medium text-sm">R${{(produtos[1].price - ((produtos[1].price/100) * produtos[1].descont)).toFixed(2)}}</p>
              <p class="text-gray-400 text-xs line-through">R${{(produtos[1].price).toFixed(2)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Terceira Parte de Produtos -->
  <section class="w-10/12 p-5 flex flex-col">
    <h1 class="text-center font-bold font-inter text-xl">Oferta Especial</h1>
    <!-- Ofertas -->
    <div class="w-full bg-[#DCEEE7] items-center rounded-2xl h-[400px] mt-2">
      <div class="flex p-2 justify-end items-center h-[400px]">
          <!-- Produto 1 -->
          <div class="w-[200px] bg-[#f5f7fabb] h-[360px] rounded-lg items-center justify-center">
          <!-- Desconto e Icone Parte de Cima -->
          <div class="w-full p-1.5">
            <div class="w-full flex justify-between items-center">
              <button class="text-xs bg-[#F03D3D] p-0.5 rounded-md">-{{produtos[1].descont}}%</button>
              <img class="w-7 h-7" src="../../../assets/icons/favoriteIconCatalog.svg" alt="">
            </div>
          </div>
          <img class="p-2 rounded-[10px]" [src]="produtos[1].image" alt="">
          <div class="flex flex-col space-y-2 p-2">
            <h1>{{produtos[1].name}}</h1>
            <div class="flex space-x-3 items-center mt-2">
              <p class="font-medium text-sm">R${{(produtos[1].price - ((produtos[1].price/100) * produtos[1].descont)).toFixed(2)}}</p>
              <p class="text-gray-400 text-xs line-through">R${{(produtos[1].price).toFixed(2)}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Botoes de Interação -->
      <div class="flex space-x-3 items-center justify-center mt-2">
        <img class="" src="../../../assets/icons/btnPrevious.svg" alt="">
        <img src="../../../assets/icons/btnNext.svg" alt="">
      </div>
    </div>
  </section>

  <!-- Quarta Parte de Produtos -->
  <section class="w-10/12 p-5 flex flex-col mt-5">
    <h1 class="text-center font-bold font-inter text-xl">Principais Marcas</h1>
    <!-- Ofertas -->
    <div class="w-full items-center rounded-2xl flex h-auto mt-2 border border-gray-300">
      <div class="w-1/4">
        <div class="w-full h-full "><img class="h-2/3 rounded-tl-2xl" src="../../../assets/images/logoWEG.svg" alt=""></div>
        <div class="w-full h-full "><img class="h-1/3 rounded-bl-2xl" src="../../../assets/images/logoWEG.svg" alt=""></div>
      </div>
      <div class="w-1/4">
        <div class="w-full h-full "><img class="h-2/3" src="../../../assets/images/logoWEG.svg" alt=""></div>
        <div class="w-full h-full "><img class="h-1/3" src="../../../assets/images/logoWEG.svg" alt=""></div>
      </div>
      <div class="w-1/4">
        <div class="w-full h-full "><img class="h-2/3" src="../../../assets/images/logoWEG.svg" alt=""></div>
        <div class="w-full h-full "><img class="h-1/3" src="../../../assets/images/logoWEG.svg" alt=""></div>
      </div>
      <div class="w-1/4">
        <div class="w-full h-full "><img class="h-2/3 rounded-tr-2xl" src="../../../assets/images/logoWEG.svg" alt=""></div>
        <div class="w-full h-full "><img class="h-1/3 rounded-br-2xl" src="../../../assets/images/logoWEG.svg" alt=""></div>
      </div>
    </div>
  </section>


</section>

<app-footer></app-footer>
