<app-header></app-header>

<!-- Conteudo Home -->
<section class="w-full flex flex-col items-center justify-center">

  <!-- Primeira Parte da Página -->
  <section class="w-8/12 h-full p-5">
    <!-- Primeiro Banner/Maior -->
    <div class="w-full h-[400px] bg-[#F3E7E9] flex flex-col space-y-2 items-start justify-center p-5 rounded-[16px]">
      <p>Banner</p>
      <h1 class="font-bold text-4xl">BANNER</h1>
      <button class="bg-gray-800 p-1.5 items-center justify-center text-white flex space-x-2 rounded-lg">
        <p class="font-light text-sm">Botão para oferta</p>
        <img class="w-2 h-2" src="../../../assets/icons/buttonHomeBanner.svg" alt="">
      </button>
    </div>
    <!-- 3 Banners Principais -->
    <div class="w-full h-[150px] flex space-x-4 mt-2">
      <div class="w-1/3 bg-[#b7c2d3] h-[150px] rounded-[16px]"></div>
      <div class="w-1/3 bg-[#cdbbd1] h-[150px] rounded-[16px]"></div>
      <div class="w-1/3 bg-[#bad6d1] h-[150px] rounded-[16px]"></div>
    </div>
  </section>

  <!-- Segunda Página - Prévia Catalogo -->
  <section class="w-8/12 h-full p-5">

  </section>
</section>

<app-footer></app-footer>
